<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= @meta_title %>">
  <meta name="description" content="I promised myself I'd stick to being unhelpful this week.">
  <meta property="og:description" content="Communicate like a pro with Jargon as a Service">
  <meta property="og:url" content="<%= @host %>">
  <meta property="og:image" content="<%= @host %><%= @meta_image %>">
  <meta property="og:type" content="website">
  <title>jargon-as-a-service</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2 id="category">Just click a button</h2>
  <div id="outputContainer">
    <h1 id="output" hidden="true">Click the button to fetch jargon.</h1>
  </div>
  <div id="buttonContainer">
    <button id="fetchSassyMorning" class="fetch" style="background-color: #90e29b;">Say good morning</button>
    <button id="fetchNo" class="fetch" style="background-color: #af0d30;">Say no</button>
    <button id="fetchYes" class="fetch" style="background-color: #00aa69;">Say yes</button>
    <button id="fetchExecutiveCoercion" class="fetch" style="background-color: #b4d455;">Sound like a high level executive</button>
    <button id="fetchAnnoyingManager" class="fetch" style="background-color: #405012;">Sound like a (micro) manager</button>
    <button id="copyButton"><h3>📋</h3></button>
  </div>

  <!-- Floating GitHub logo -->
  <div id="githubLogo" onclick="window.open('https://github.com/diegoc-am/jargon-as-a-service', '_blank')">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
  </div>

  <script src="/js/app.js"></script>
</body>
</html>