<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= @meta_title %>">
  <meta name="description" content="I promised myself I'd stick to being unhelpful this week.">
  <meta property="og:description" content="Communicate like a pro with Jargon as a Service">
  <meta property="og:url" content="<%= @host %>">
  <meta property="og:image" content="<%= @host %><%= @meta_image %>">
  <meta property="og:type" content="website">
  <title>jargon-as-a-service</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f4f4f4;
    }

    #buttonContainer {
      display: flex;
      gap: 10px; /* Adds spacing between buttons */
      margin-top: 20px;
    }

    #outputContainer {
      position: relative;
      margin-top: 20px;
      width: 90%;
      max-width: 800px;
    }

    #output {
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      text-align: center;
      word-wrap: break-word;
    }

    #copyButton {  
      background-color: #ffffff;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 14px;
    }

    #copyButton:hover {
      background-color: #bdbdbd;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      background-color: #007BFF;
      color: white;
      border-radius: 5px;
    }

    button:hover {
      background-color: #0056b3;
    }

    #githubLogo {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    #githubLogo img {
      width: 40px;
      height: 40px;
    }

    #githubLogo:hover {
      background-color: #ffffff;
    }
  </style>
</head>
<body>
  <h2 id="category">Just click a button</h2>
  <div id="outputContainer">
    <h1 id="output" hidden="true">Click the button to fetch jargon.</h1>
  </div>
  <div id="buttonContainer">
    <button id="fetchSassyMorning" class="fetch" style="background-color: #90e29b;">Say good morning</button>
    <button id="fetchNo" class="fetch" style="background-color: #af0d30;">Say no</button>
    <button id="fetchYes" class="fetch" style="background-color: #00aa69;">Say yes</button>
    <button id="fetchExecutiveCoercion" class="fetch" style="background-color: #b4d455;">Sound like a high level executive</button>
    <button id="fetchAnnoyingManager" class="fetch" style="background-color: #405012;">Sound like a (micro) manager</button>
    <button id="copyButton"><h3>📋</h3></button>
  </div>

  <!-- Floating GitHub logo -->
  <div id="githubLogo" onclick="window.open('https://github.com/diegoc-am/jargon-as-a-service', '_blank')">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
  </div>

  <script>
    const urls = {
      fetchNo: '/api/phrases/no/sample',
      fetchYes: '/api/phrases/yes/sample',
      fetchExecutiveCoercion: '/api/phrases/executive_coercion/sample',
      fetchAnnoyingManager: '/api/phrases/annoying_manager/sample',
      fetchSassyMorning: '/api/phrases/sassy_morning/sample',
    };

    const friendlyCategoryNames = {
      no: 'Here is how to say no',
      yes: 'Here is how to say yes',
      executive_coercion: 'Here is how to sound like a high level executive',
      annoying_manager: 'Here is how to sound like a (micro) manager',
      sassy_morning: 'Start your day with sass',
    };

    const fetchPhrase = async (url) => {
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        const data = await response.json();
        return data;
      } catch (error) {
        console.error('Error fetching phrase:', error);
        return { phrase: 'Error fetching phrase.' };
      }
    };

    // Check if there is a category in the URL
    const urlParams = new URLSearchParams(window.location.search);
    const category = urlParams.get('category');
    const id = urlParams.get('id');

    if (category && id) {
      const url = `/api/phrases/${category}/${id}`;
      fetchPhrase(url).then(data => {
        document.getElementById('category').textContent = friendlyCategoryNames[category] || 'No category provided.';
        document.getElementById('output').textContent = data.phrase || 'No jargon received.';
        document.getElementById('output').hidden = false;
        document.getElementById('copyButton').hidden = false;
      }).catch(error => {
        document.getElementById('output').textContent = 'Error fetching jargon: ' + error.message;
      });
    }

    for (const button of document.getElementsByClassName('fetch')) {
      button.addEventListener('click', async (event) => {
        const outputDiv = document.getElementById('output');
        const categoryDiv = document.getElementById('category');
        const copyButton = document.getElementById('copyButton');
        categoryDiv.textContent = 'Loading...';
        outputDiv.textContent = 'Loading...';

        try {
          const data = await fetchPhrase(urls[event.target.id]);
          categoryDiv.hidden = false;
          outputDiv.hidden = false;
          copyButton.hidden = false;
          categoryDiv.textContent = friendlyCategoryNames[data.category] || 'No category provided.';
          outputDiv.textContent = data.phrase || 'No jargon received.';
          window.history.pushState({}, '', `?category=${data.category}&id=${data.id}`);
        } catch (error) {
          outputDiv.textContent = 'Error fetching jargon: ' + error.message;
        }
      });
    }

    document.getElementById('copyButton').addEventListener('click', () => {
      const prms = new URLSearchParams(window.location.search);
      const outputDiv = document.getElementById('output');
      navigator.clipboard.writeText(`> "${outputDiv.textContent}"\nfrom https://jaas.diegoc.io?category=${prms.get('category')}&id=${prms.get('id')}`);
    });
  </script>
</body>
</html>